*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html{
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    
}
.webgl{
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
}
nav{
    color:white;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul{
    list-style:none;
    display: flex;
    gap:4rem;

}
.title{
    color:white;
    border: none;
    background-color: transparent;
    z-index: 2;
    position: absolute;
    font-size: 50px;
    left:50%;
    top: 85%;
    transform: translate(-50%, -85%);
}
#buttongeklikt{
    height: 50px;
    width: 200px;
    background-color: white;
    position:fixed;
    top: 100px;


}
